---
---
@charset "utf-8";

body {
  background-color: #F1EED9;
  // background-color: #fdf6e3;
}

.main-pane {
  max-width: 940px;
  margin-top: 30px;
}

.book-cover-image {
  text-align: center;
}

.book-version {
  font-weight: bold;
}

.book-links {
  list-style: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.book-links li {
  margin-top: 20px;
}

.book-link-details {
  display: block;
  margin-top: 2px;
  color: #777;
}
