<!DOCTYPE html>
<html lang="uk">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>4 &times; 40 &mdash; Збірка завдань з математики</title>
  <meta name="description" content="Збірка завдань з математики для дітей 1-4 класів">
  <meta property="og:title" content="4 &times; 40 &mdash; Збірка завдань з математики"/>
  <meta property="og:url" content="http://alexandervpetrov.github.io/book.4x40/"/>
  <meta property="og:image" content="{{ page.leadingpath }}img/cover-front.360x511.jpg"/>
  <meta property="og:description" content="Збірка завдань з математики для дітей 1-4 класів"/>
  <meta property="og:type" content="book"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-blue.min.css">
  <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link href="{{ page.leadingpath }}css/main.css" rel="stylesheet">
</head>
<body>
{{ content }}
{% include analytics.html %}
